<a href="https://colab.research.google.com/github/kraipisit/github/blob/master/BasicPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
day = pd.Series([5,3,2,1,4])
day

In [ ]:
day[1]

3

In [ ]:
day_numpy = np.array([5,3,1,4])
day_numpy

array([5, 3, 1, 4])

In [ ]:
day_numpy[1]

3

In [ ]:
day = pd.Series([5,3,1,2,4],index=['Fri','Web','Mon','Tue','Thu'])
day

Fri    5
Web    3
Mon    1
Tue    2
Thu    4
dtype: int64

In [ ]:
day['Mon']

1

In [ ]:
#create series form list
day1 = pd.Series(['Mon','Tue','Web','Thu'],index=['M','T','W','Th'])
day1['M']

'Mon'

In [ ]:
#create series from dictoinary
day2 = pd.Series({'M':'Mon','T':'Tue','W':'Wed','Th':'Thu'})
day2['M']

'Mon'

In [ ]:
day2[0:3]

In [ ]:
#create from dictionary
people_dict = {
    'a' : ['Jame','Kim','Joey'],
    'b' :['Bachelor','Master','HS-grad'],
    'c' : ['Male','Female','Female'],
    'd':[15000,20000,30000]
}
people= pd.DataFrame(people_dict)
people

      a         b       c      d
0  Jame  Bachelor    Male  15000
1   Kim    Master  Female  20000
2  Joey   HS-grad  Female  30000

In [ ]:
people= pd.DataFrame({
    'a' : ['Jame','Kim','Joey'],
    'b' :['Bachelor','Master','HS-grad'],
    'c' : ['Male','Female','Female'],
    'd':[15000,20000,30000]
})
people

      a         b       c      d
0  Jame  Bachelor    Male  15000
1   Kim    Master  Female  20000
2  Joey   HS-grad  Female  30000

In [ ]:
people.columns = ['name','education','gender','salary']
people

   name education  gender  salary
a  Jame  Bachelor    Male   15000
b   Kim    Master  Female   20000
c  Joey   HS-grad  Female   30000

In [ ]:
people.index = ['1','2','3']
people

   name education  gender  salary
1  Jame  Bachelor    Male   15000
2   Kim    Master  Female   20000
3  Joey   HS-grad  Female   30000

In [ ]:
people= pd.DataFrame({
    'a' : ['Jame','Kim','Joey'],
    'b' :['Bachelor','Master','HS-grad'],
    'c' : ['Male','Female','Female'],
    'd':[15000,20000,30000]},index=['1','2','3'])
people

      a         b       c      d
1  Jame  Bachelor    Male  15000
2   Kim    Master  Female  20000
3  Joey   HS-grad  Female  30000

In [ ]:
#create from series
day3 =day1
day3

M     Mon
T     Tue
W     Web
Th    Thu
dtype: object

In [ ]:
dayFrame=pd.DataFrame({'day1':day1,
                       'day3':day3})
dayFrame.columns = ['Week1','Week2']
dayFrame

   Week1 Week2
M    Mon   Mon
T    Tue   Tue
W    Web   Web
Th   Thu   Thu

In [ ]:
#create from numpy array
df= pd.DataFrame(np.random.rand(3,2),index=['a','b','c'],columns=['foo','bar'])
df

#Data Index and Selection

In [ ]:
#Series Index
day2

M     Mon
T     Tue
W     Wed
Th    Thu
dtype: object

In [ ]:
day2['W']

'Wed'

In [ ]:
day2.loc['W']

'Wed'

In [ ]:
day2[3]

'Thu'

In [ ]:
day2.iloc[3]

'Thu'

In [ ]:
people= pd.DataFrame({
    'name' : ['Jame','Kim','Joey'],
    'education' :['Bachelor','Master','HS-grad'],
    'gender' : ['Male','Female','Female'],
    'salary':[15000,20000,30000]},index=['a','b','c'])
people

   name education  gender  salary
a  Jame  Bachelor    Male   15000
b   Kim    Master  Female   20000
c  Joey   HS-grad  Female   30000

In [ ]:
people['name']

a    Jame
b     Kim
c    Joey
Name: name, dtype: object

In [ ]:
people.name

a    Jame
b     Kim
c    Joey
Name: name, dtype: object

In [ ]:
people[['name','gender']]

   name  gender
a  Jame    Male
b   Kim  Female
c  Joey  Female

In [ ]:
people[0:]

   name education  gender  salary
a  Jame  Bachelor    Male   15000
b   Kim    Master  Female   20000
c  Joey   HS-grad  Female   30000

In [ ]:
people['a':'b']

   name education  gender  salary
a  Jame  Bachelor    Male   15000
b   Kim    Master  Female   20000

In [ ]:
people.loc['a': 'c','name':'gender']

   name education  gender
a  Jame  Bachelor    Male
b   Kim    Master  Female
c  Joey   HS-grad  Female

In [ ]:
people.loc[['a', 'c'],['name','gender']]

   name  gender
a  Jame    Male
c  Joey  Female

In [ ]:
people.loc[people['salary']>= 20000,['name','salary']]

   name  salary
b   Kim   20000
c  Joey   30000

In [ ]:
people.iloc[:2,:2]

   name education
a  Jame  Bachelor
b   Kim    Master

In [ ]:
people.iloc[[0,2],[1,2]]

  education  gender
a  Bachelor    Male
c   HS-grad  Female

In [1]:
people.iloc[0,2]

NameError: ignored

In [ ]:
people.iat[0,0]

#Oerating on Data in Pandas

In [ ]:
ser = pd.Series(np.random.randint(0,10,4))
df = pd.DataFrame(np.random.randint(0,10,(3,4)),columns=['A','B','C','D'])
print(ser)
print(df)

In [ ]:
np.exp2(ser)

0    512.0
1      1.0
2     16.0
3      2.0
dtype: float64

In [ ]:
np.add(df,100)

     A    B    C    D
0  101  108  101  100
1  106  109  108  100
2  100  100  101  100

#Index Alignment

In [ ]:
#Series
a_ser = pd.Series([2,4,6], index=[0,1,2])
b_ser = pd.Series([1,3,5], index=[1,2,3])
print(a_ser)
print(b_ser)

0    2
1    4
2    6
dtype: int64
1    1
2    3
3    5
dtype: int64

In [ ]:
a_ser.add(b_ser)

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [ ]:
a_ser + b_ser

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [ ]:
 #Data Frame

In [ ]:
a_df = pd.DataFrame(np.random.randint(0,20,(2,2)),columns=list('AB'))
print(a_df)
b_df = pd.DataFrame(np.random.randint(0,10,(3,3)),columns=list('BAC'))
print(b_df)

    A   B
0   4  11
1  18   4
   B  A  C
0  5  5  6
1  6  4  6
2  0  7  9

In [ ]:
a_df*b_df

      A     B   C
0  90.0  70.0 NaN
1  48.0  42.0 NaN
2   NaN   NaN NaN

In [ ]:
a_df.mul(b_df,fill_value=0)

      A     B    C
0  20.0  55.0  0.0
1  72.0  24.0  0.0
2   0.0   0.0  0.0

In [ ]:
b_df[:1]

   B  A  C
0  5  9  9

In [ ]:
b_df.subtract(b_df[:1],axis=1)

     B    A    C
0  0.0  0.0  0.0
1  NaN  NaN  NaN
2  NaN  NaN  NaN

In [ ]:
b_ser=b_df['A']
(b_ser)

0    9
1    6
2    0
Name: A, dtype: int64

In [ ]:
a_df.sub(b_ser,axis=1)

    A   B   0   1   2
0 NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN

#Summarizing and Computing Descriptive Statistics

In [ ]:
b_df

   B  A  C
0  5  9  9
1  7  6  1
2  7  0  7

In [ ]:
b_df.median(axis=1)

0    9.0
1    6.0
2    7.0
dtype: float64

#Read and Write Date

##Data in CSV Format

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/HomeWork/FMLDS/Pandas/data_header.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
df= pd.read_table('/content/drive/MyDrive/HomeWork/FMLDS/Pandas/data_header.csv',',')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_table except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
#no header
df1 = pd.read_csv('/content/drive/MyDrive/HomeWork/FMLDS/Pandas/no_header.csv',header=None)
df1

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [ ]:
# no header add name
df1 = pd.read_csv('/content/drive/MyDrive/HomeWork/FMLDS/Pandas/no_header.csv',header=None,names=['a','b','c','d','message'])
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
# no header add name and index
df1 = pd.read_csv('/content/drive/MyDrive/HomeWork/FMLDS/Pandas/no_header.csv',header=None,names=['a','b','c','d','message'],index_col='message')
df1

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [ ]:
df.to_csv('/content/df_write.csv')

In [ ]:
df.to_csv('/content/df_write.csv',header=False,index=False)

In [ ]:
df.to_csv('/content/df_write.csv',columns=['a','d'])

In [ ]:
df1.to_csv('/content/df_write.csv')

#Data in JSON

In [ ]:
df.to_json(('/content/json_data.json'))

In [ ]:
df_json = pd.read_json('/content/json_data.json')
df_json

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#Data in Excel

In [ ]:
df.to_excel(('/content/excel_data.xlsx'))

In [ ]:
df_excel = pd.read_excel('/content/excel_data.xlsx',index_col=0)
df_excel

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#HomeWork

In [2]:
#1.ให้อ่านไฟล์ข้อมูลเข้ามาเป็น dataframe

df_sales = pd.read_csv('/content/drive/MyDrive/HomeWork/FMLDS/Pandas/simple_sales.csv')
df_sales

NameError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#2.ให้สร้าง column ใหม่ใน dataframe ในข้อ1 ชื่อ Total revenue ที่เกิดจากการ Unitssold*UnitPrice

df_price= df_sales.loc['0': ,'UnitPrice']
df_sold= df_sales.loc['0': ,'UnitsSold']

df_sales['Total_Revenue'] = df_price.mul(df_sold)
df_sales['Total_Revenue']
df_sales.head()
df_sales

      OrderID     Region  ... UnitCost Total_Revenue
0   669165933  Australia  ...   159.42    2533654.00
1   963881480    America  ...   117.11     576782.80
2   341417157     Europe  ...   524.96    1158502.59
3   514321792     Africa  ...     6.92      75591.66
4   115456712     Africa  ...   524.96    3296425.02
5   547995746  Australia  ...   159.42     759202.72
6   135425221     Africa  ...   502.54    2798046.49
7   871543967     Africa  ...    90.93    1245112.92
8   770463311     Africa  ...    56.67     496101.10
9   616607081     Africa  ...   117.11    1356180.10
10  814711606       Asia  ...    90.93      19103.44
11  939825713     Africa  ...    35.84     455479.04
12  187310731       Asia  ...    35.84     902980.64
13  522840487    America  ...   502.54    5997054.98
14  832401311       Asia  ...    56.67     400558.73
15  972292029     Europe  ...    35.84     182825.44
16  419123971       Asia  ...   263.33    3039414.40
17  519820964     Africa  ...    31.79     257653.50
18  441619336       Asia  ...   502.54    2559474.10

[19 rows x 9 columns]

In [ ]:
df_sales['Total_Revenue'] = df_sales.loc['0': ,'UnitPrice'].mul(df_sales.loc['0': ,'UnitsSold'])
df_sales['Total_Revenue']
df_sales.head()
df_sales

      OrderID     Region  ... UnitCost Total_Revenue
0   669165933  Australia  ...   159.42    2533654.00
1   963881480    America  ...   117.11     576782.80
2   341417157     Europe  ...   524.96    1158502.59
3   514321792     Africa  ...     6.92      75591.66
4   115456712     Africa  ...   524.96    3296425.02
5   547995746  Australia  ...   159.42     759202.72
6   135425221     Africa  ...   502.54    2798046.49
7   871543967     Africa  ...    90.93    1245112.92
8   770463311     Africa  ...    56.67     496101.10
9   616607081     Africa  ...   117.11    1356180.10
10  814711606       Asia  ...    90.93      19103.44
11  939825713     Africa  ...    35.84     455479.04
12  187310731       Asia  ...    35.84     902980.64
13  522840487    America  ...   502.54    5997054.98
14  832401311       Asia  ...    56.67     400558.73
15  972292029     Europe  ...    35.84     182825.44
16  419123971       Asia  ...   263.33    3039414.40
17  519820964     Africa  ...    31.79     257653.50
18  441619336       Asia  ...   502.54    2559474.10

[19 rows x 9 columns]

In [ ]:
#3.ให้ save ข้อมูลใน dataframe ใหม่ลงในไฟล์ csv โดยต้องมี col ของข้อมูล แต่ไม่ต้อง save index ของ dataframe
df_sales.to_csv('/content/sales_revenue.csv',index=False, float_format='%.2f')